{# templates/register/form.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}

<h2 class="mb-2">Registration form</h2>

{{ form(form) }}

{% endblock %}
