{% extends 'base.html.twig' %}

{% block title %}Hello ZamowienieController!{% endblock %}

{% block body %}

    <div>Zamowienie Controller -> tutaj bedzie lista zamowionych pojazdow i i ch status</div>

{% endblock %}


